<div id="form">
  <h2>Sign Up</h2>
  <form action="/signup" method="POST">
 
    <label> Username: <br>
      <input type="text" name="username" placeholder="ironhacker" />
    </label>
 
    <br>
    <br>

    <label> Password: <br>
      <input type="password" name="password" placeholder="********" />
    </label>

    <br>
    <br>
 
    <button type="submit">Create account</button>
 
    {{!-- error message will be added here --}}
  </form>
</div>